<app-default-login-layout
    title="Login into your account"
    primaryBtnText="Login Now"
    secondaryBtnText="Signed Up Now"
    (submit)="submit()"
    (navigate)="navigate()"
>
    <form [formGroup]="loginForm">
        <app-primary-input
            formControlName="email"
            inputName="email"
            type="email"
            label="Email"
            placeholder="johndoe@gmail.com"
        >
            <img src="/assets/icons/email-icon.svg" alt="">
        </app-primary-input>

        <app-primary-input
            formControlName="password"
            inputName="password"
            type="password"
            label="Your password"
        >
            <img src="/assets/icons/password-icon.svg" alt="">
        </app-primary-input>
        <span class="text-end">
            <a href="">Forgot password?</a>
        </span>
    </form>
</app-default-login-layout>